
body {
	background: url(images/main-bg.jpg) repeat;
}


a {
	color: #FFFFFF;
        text-decoration: none;
        font-size: 20pt;
        
}
p{color: #FFFFFF; font-size: 15pt;}
li{color: #FFFFFF;font-size: 15pt;}
h2{color: #FFFFFF;}
















